:root {
    --bg-color: #FEFADC;
    --text-color: #1D1E18;
    --link-color: #7A5980;
    --hover-color: #FFA8A9;
    --border-color: #8DA7BE;
    font-family: 'Calibri','Candara','Segoe','Segoe UI','Optima','Arial',sans-serif;
    font-size: 18px;
}
body {
    background-color: var(--bg-color);
}
a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}
#wrapper {
    width: 80%;
    margin: auto;
    min-width: 960px;
    border: 1px solid var(--border-color);
}
#leftcolumn {
    float: left;
    width: 150px;
    min-height: 708px;
    border: 1px solid var(--border-color);
}
#rightcolumn {
    margin-left: 155px;
    border: 1px solid var(--border-color);
    min-height: 708px;
    padding: 1%;
}
#header {
    font-size: 200%;
    padding: 10px 10px 10px 10px;
    border: 1px solid var(--border-color);
    font-weight: bold;
    height: 50px;
    color: var(--bg-color);
    text-align: center;
    background-image: url('../images/cat-mac.png');
}